<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.6.1"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:stdio="http://www.mulesoft.org/schema/mule/stdio"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/stdio http://www.mulesoft.org/schema/mule/stdio/3.6/mule-stdio.xsd">

	<spring:beans>
		<spring:import
			resource="classpath*:/app-spring-context.xml" />		
		<spring:import
			resource="classpath*:/app-spring-component.xml" />		
	</spring:beans>
	
	<stdio:connector name="stdioConnector" messageDelayTime="1234"
           outputMessage="abc" promptMessage="Ingrese el nombre del libro : "
           promptMessageCode="456"
           doc:name="STDIO"/>

	<flow name="spring-muleFlow">
	
		<stdio:inbound-endpoint  system="IN" connector-ref="stdioConnector" doc:name="STDIO"/>
        <logger message="Search book : #[payload]" level="INFO" doc:name="Logger"/>
	
		<component doc:name="searchAuthor">
			<spring-object bean="searchAuthor" />
		</component>
        <logger message="Show Results : #[payload]" level="INFO" doc:name="Logger"/>
	</flow>
</mule>
